<section class="mat-button-container">
  <a
    href="https://furetechnews.com/how-to-implement-angular-modal-in-angular-14/"
    target="_blank"
  >
    <h2>Angular Material dialog</h2>
  </a>

  <div class="example-button-row">
    <button mat-raised-button (click)="alertDialog()">
      Angular Material Alert
    </button>
    <button mat-raised-button color="primary" (click)="confirmDialog()">
      Confirm
    </button>
    <button mat-raised-button color="accent" (click)="showPrompt()">
      Prompt Input
    </button>
  </div>
</section>

<h2 *ngIf="dataFromDialog">
  Data from Angular material dialog : {{ dataFromDialog | json }}
</h2>
